@charset "UTF-8";
/* CSS Document */

h1{
	font-family:'Roboto', sans-serif;
	margin-left:30%;
}
h2{
	font-family:'Roboto', sans-serif;
	font-size:20px;
}
p{
	font-family:'Roboto', sans-serif;
	font-size:12px;
}
.float_right{
	float:right;
	width:450px;
	height:500px;
}
.float_right2{
	float:right;
	width:350px;
	height:300px;
}

.main{
	float:right;
	width:70%;
}
header{
	float:right;
	width:100%;
}
nav{
float:left;
	
}
.clear{
	clear:both;
}
